{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 35,
   "metadata": {},
   "outputs": [],
   "source": [
    "#!pip install fiona\n",
    "import fiona\n",
    "import pandas as pd\n",
    "import shapely\n",
    "import geopandas\n",
    "from shapely.geometry import shape,mapping, Point, Polygon, MultiPolygon\n",
    "import matplotlib.pyplot as plt\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "metadata": {},
   "outputs": [],
   "source": [
    "df = pd.read_csv('../Capstone/csv/trip_data_6.csv', error_bad_lines=False)\n",
    "dff = df.copy()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "metadata": {},
   "outputs": [],
   "source": [
    "# https://towardsdatascience.com/geospatial-operations-at-scale-with-dask-and-geopandas-4d92d00eb7e8\n",
    "def assign_taxi_zones(df, lon_var, lat_var, locid_var):\n",
    "\n",
    "    import geopandas\n",
    "    from shapely.geometry import Point\n",
    "\n",
    "    localdf = df[[lon_var, lat_var]].copy()\n",
    "    \n",
    "    localdf[lon_var] = localdf[lon_var].fillna(value=0.)\n",
    "    localdf[lat_var] = localdf[lat_var].fillna(value=0.)\n",
    "    \n",
    "    shape_df = geopandas.read_file('../Capstone/taxi_zones/taxi_zones.shp')\n",
    "    shape_df = shape_df.to_crs({'init': 'epsg:4326'})\n",
    "    try:\n",
    "        local_gdf = geopandas.GeoDataFrame(\n",
    "            localdf, crs={'init': 'epsg:4326'},\n",
    "            geometry=[Point(xy) for xy in\n",
    "                      zip(localdf[lon_var], localdf[lat_var])])\n",
    "\n",
    "        local_gdf = geopandas.sjoin(\n",
    "            local_gdf, shape_df, how='left', op='within')\n",
    "\n",
    "        return local_gdf.OBJECTID.rename(locid_var)\n",
    "    except ValueError as ve:\n",
    "        print(ve)\n",
    "        print(ve.stacktrace())\n",
    "        series = localdf[lon_var]\n",
    "        series = np.nan\n",
    "        return series"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "metadata": {},
   "outputs": [],
   "source": [
    "dff = dff.join(assign_taxi_zones(dff, \" pickup_longitude\", \" pickup_latitude\", \"pickup_taxizone_id\"))\n",
    "dff = dff.join(assign_taxi_zones(dff, \" dropoff_longitude\", \" dropoff_latitude\", \"dropoff_taxizone_id\"))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "metadata": {},
   "outputs": [],
   "source": [
    "dff.to_csv('result.csv',index=False)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>medallion</th>\n",
       "      <th>hack_license</th>\n",
       "      <th>vendor_id</th>\n",
       "      <th>rate_code</th>\n",
       "      <th>store_and_fwd_flag</th>\n",
       "      <th>pickup_datetime</th>\n",
       "      <th>dropoff_datetime</th>\n",
       "      <th>passenger_count</th>\n",
       "      <th>trip_time_in_secs</th>\n",
       "      <th>trip_distance</th>\n",
       "      <th>pickup_longitude</th>\n",
       "      <th>pickup_latitude</th>\n",
       "      <th>dropoff_longitude</th>\n",
       "      <th>dropoff_latitude</th>\n",
       "      <th>pickup_taxizone_id</th>\n",
       "      <th>dropoff_taxizone_id</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2013009441</td>\n",
       "      <td>2013013593</td>\n",
       "      <td>VTS</td>\n",
       "      <td>1</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2013-06-01 00:00:00</td>\n",
       "      <td>2013-06-01 00:05:00</td>\n",
       "      <td>1</td>\n",
       "      <td>300</td>\n",
       "      <td>0.74</td>\n",
       "      <td>-73.972008</td>\n",
       "      <td>40.749767</td>\n",
       "      <td>-73.968109</td>\n",
       "      <td>40.756382</td>\n",
       "      <td>233.0</td>\n",
       "      <td>229.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2013012081</td>\n",
       "      <td>2013019632</td>\n",
       "      <td>VTS</td>\n",
       "      <td>1</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2013-06-01 00:00:00</td>\n",
       "      <td>2013-06-01 00:16:00</td>\n",
       "      <td>1</td>\n",
       "      <td>960</td>\n",
       "      <td>3.52</td>\n",
       "      <td>-73.984909</td>\n",
       "      <td>40.779106</td>\n",
       "      <td>-73.944702</td>\n",
       "      <td>40.803219</td>\n",
       "      <td>143.0</td>\n",
       "      <td>41.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2013006133</td>\n",
       "      <td>2013029678</td>\n",
       "      <td>VTS</td>\n",
       "      <td>1</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2013-06-01 00:00:00</td>\n",
       "      <td>2013-06-01 00:10:00</td>\n",
       "      <td>1</td>\n",
       "      <td>600</td>\n",
       "      <td>2.34</td>\n",
       "      <td>-73.992043</td>\n",
       "      <td>40.725639</td>\n",
       "      <td>-73.990120</td>\n",
       "      <td>40.750992</td>\n",
       "      <td>79.0</td>\n",
       "      <td>100.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2013007864</td>\n",
       "      <td>2013007860</td>\n",
       "      <td>VTS</td>\n",
       "      <td>1</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2013-06-01 00:00:00</td>\n",
       "      <td>2013-06-01 00:08:00</td>\n",
       "      <td>1</td>\n",
       "      <td>480</td>\n",
       "      <td>1.63</td>\n",
       "      <td>-73.982071</td>\n",
       "      <td>40.743259</td>\n",
       "      <td>-73.990967</td>\n",
       "      <td>40.723995</td>\n",
       "      <td>170.0</td>\n",
       "      <td>79.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2013010123</td>\n",
       "      <td>2013010123</td>\n",
       "      <td>VTS</td>\n",
       "      <td>1</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2013-06-01 00:00:00</td>\n",
       "      <td>2013-06-01 00:19:00</td>\n",
       "      <td>4</td>\n",
       "      <td>1140</td>\n",
       "      <td>5.98</td>\n",
       "      <td>-73.999809</td>\n",
       "      <td>40.732849</td>\n",
       "      <td>-73.962357</td>\n",
       "      <td>40.800049</td>\n",
       "      <td>113.0</td>\n",
       "      <td>24.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "    medallion   hack_license  vendor_id   rate_code  store_and_fwd_flag  \\\n",
       "0  2013009441     2013013593        VTS           1                 NaN   \n",
       "1  2013012081     2013019632        VTS           1                 NaN   \n",
       "2  2013006133     2013029678        VTS           1                 NaN   \n",
       "3  2013007864     2013007860        VTS           1                 NaN   \n",
       "4  2013010123     2013010123        VTS           1                 NaN   \n",
       "\n",
       "       pickup_datetime     dropoff_datetime   passenger_count  \\\n",
       "0  2013-06-01 00:00:00  2013-06-01 00:05:00                 1   \n",
       "1  2013-06-01 00:00:00  2013-06-01 00:16:00                 1   \n",
       "2  2013-06-01 00:00:00  2013-06-01 00:10:00                 1   \n",
       "3  2013-06-01 00:00:00  2013-06-01 00:08:00                 1   \n",
       "4  2013-06-01 00:00:00  2013-06-01 00:19:00                 4   \n",
       "\n",
       "    trip_time_in_secs   trip_distance   pickup_longitude   pickup_latitude  \\\n",
       "0                 300            0.74         -73.972008         40.749767   \n",
       "1                 960            3.52         -73.984909         40.779106   \n",
       "2                 600            2.34         -73.992043         40.725639   \n",
       "3                 480            1.63         -73.982071         40.743259   \n",
       "4                1140            5.98         -73.999809         40.732849   \n",
       "\n",
       "    dropoff_longitude   dropoff_latitude  pickup_taxizone_id  \\\n",
       "0          -73.968109          40.756382               233.0   \n",
       "1          -73.944702          40.803219               143.0   \n",
       "2          -73.990120          40.750992                79.0   \n",
       "3          -73.990967          40.723995               170.0   \n",
       "4          -73.962357          40.800049               113.0   \n",
       "\n",
       "   dropoff_taxizone_id  \n",
       "0                229.0  \n",
       "1                 41.0  \n",
       "2                100.0  \n",
       "3                 79.0  \n",
       "4                 24.0  "
      ]
     },
     "execution_count": 10,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dff.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.7.3"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 4
}